/* style.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGrayishBlue: hsl(217, 19%, 35%);
  --darkBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(30, 10%, 34%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
  --primary-color: var(--eggshell);
  --font-family: 'Manrope', sans-serif;
  --font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  margin: 4rem 2rem;
  height: 100vh;
  background-color: var(--lightGrayishBlue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 374px;
  margin: auto auto;
  padding: 0;
}

#img {
  min-height: 12rem;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

#description {
  padding: 2rem 1rem;
}

#description h1 {
  font-size: 1em;
  margin-bottom: 1rem;
  color: var(--darkGrayishBlue);
  font-weight: 800;
}

#description p {
  color: var(--grayishBlue);
}

/* style.css */
.hidden {
  display: none;
}

#before-click {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

#profile-img {
  height: 3em;
  border-radius: 50%;
}

#share-btn {
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--grayishBlue);
  color: white;
  cursor: pointer;
}

#author-infos p span {
  font-weight: 700;
}

#date {
  margin-top: 0.4rem;
  color: var(--grayishBlue);
}

#share-banner {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--darkGrayishBlue);
  color: var(--white);
  min-height: 4rem;
  width: 100%;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#share-banner p span {
  opacity: 30%;
}

#icons a {
  margin: 0rem 0.2rem;
}
